/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.MyClass .njba-tabs-panel-content.njba-content.njba-tab-acc-content {
    display: block;
}
input.gform_button{
	width: 150px !important;
    padding: 12px 10px !important;
}
.full-width-real{
    max-width:100% !important;
}
div#rmp-menu-additional-content-1115510 * {
    text-align: left !important;
    color: silver;
}
.rmp-container .rmp-menu-additional-content .fl-icon-wrap {
    display: flex !important;
    align-items: center !important;
    padding: 0px 0 10px !important;
}
.rmp-container .rmp-menu-additional-content .phone a:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 9px;
}
#rmp-search-box-1115510 .rmp-search-box {
    background: #c0c0c0 !important;
	border: 1px solid #c0c0c0 !important;
}
div.product-detail-layout-5 .button-wrapper .button:hover{
	color: #fff !important;
}
.header-phone > .fl-node-content{
	text-align: center;
	margin-left: 37px;
}
.uabb-image-carousel .uabb-image-carousel-content .uabb-gallery-img:focus,
.uabb-image-carousel-content a{
	outline: none !important;
}
.post-965799  .slick-slider .uabb-image-carousel-item:nth-child(3) img{
	max-width: 100px !important;
    margin: 0 auto;
	margin-left: 10px;
}
.uabb-creative-menu #menu-main-menu .sub-menu > li > a, 
.uabb-creative-menu #menu-main-menu .sub-menu > li > .uabb-has-submenu-container > a {
	color: #333333 !important;
}
.product-insta-brand .uabb-image-carousel img {
    max-height: 77px !important;
    max-width: 128px !important;
    margin: 0 auto;
}
/* .slick-track{
	display: flex !important;
    align-items: center;
    justify-content: center;
	margin: 0 auto;
} */
.careersTable .tableDescription{
	max-width: 400px!important;
    width: 400px;
    white-space: normal!important;	  
}
.careerForm-overlay #gform_28 .gform_footer > input[type=submit]{
    background: #cc252a!important;
    color: #fff!important;
    padding: 12px 24px!important;
    text-decoration: none;
    text-shadow: none;
    font-size: 13px!important;
    line-height: 13px!important;	
    height: auto!important;
    border-radius: 40px!important;
}
.careerForm-overlay #gform_16 .gform_footer > input[type=submit]:hover{
	    background: #428bca!important;
    color: #fff!important;
	
}
@media only screen and (min-width: 768px) {
    .careersTable tbody tr > td:nth-child(1){
        width: 150px;
    }
    .careersTable tbody tr > td:nth-child(2), .careersTable tbody tr > td:nth-child(4), .careersTable tbody tr > td:nth-child(5){
        width: 100px;
    }
}
#field_9_2,
#field_9_4{
	padding-right: 0px !important;
}
.gform_wrapper .gfield .ginput_container select{
	background: #fff !important;
}
#responsive-menu-search-box input::placeholder {
  color: #fdfcf5 !important;
}
#responsive-menu-search-box input::-ms-input-placeholder {
 color: #fdfcf5 !important;
}
#responsive-menu-search-box input::-ms-input-placeholder {
 color: #fdfcf5 !important;
}
#responsive-menu-additional-content .storename .phone a{
	color: #fdfcf5 !important;
}
.slick-next i,
.slick-prev i{
	color: #efefef !important;
    background: #B3190F !important;
}
#responsive-menu-additional-content .storename .phone a span:before,
.post-349296 .storename .phone a span:before{
	content: "\f095";
	font: normal normal normal 14px/1 FontAwesome;
	-webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	margin-right: 5px;
	font-size: 20px;
    vertical-align: bottom;
}
#responsive-menu-additional-content{
	text-align: left;
    width: 100%;
}
ul.social-icons li a i{
	font-size: 25px !important;
}
.header-contact-us .fl-icon-text,
.header-phone .fl-icon-text{
	height: auto !important;
}
.header-contact-us{
	margin-top: -3px;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
	background: #b3190f;
	margin-top: 5px;
}
.follow-us .social-icons{
	display: inline-block !important;
}
.follow-us .social-icons > li{
	margin-bottom: 0px !important;
	margin-top: -2px;
}
.searchIcon .ua-icon-icon-111-search2{
    cursor: pointer;
}
/* .slick-track {
	display: flex !important;
	align-items: center; 
	justify-content: center;
} */
.uabb-ib-effect-style1 .uabb-new-ib-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.uabb-new-ib-img{
	height:350px;
}
div.fl-module-heading.fl-module .fl-heading{
	font-weight: 600;
}
div.gform_wrapper li.gf_left_half + li.gf_left_half {
    padding-right: 16px !important;
}
.fl-icon-text span{
	display: inline-block !important;
}
.ginput_container_phone > input{
	color: #444 !important;
}
.main-header .fl-col-group {
	display: flex !important;
    align-items: center !important;
}
ul#menu-main-menu > li:first-child{
	margin-left: 0px !important;
}
ul#menu-main-menu > li:first-child > a{
	padding-left: 0px !important;
}
ul#menu-main-menu > li:last-child{
	margin-right: 0px !important;
}
ul#menu-main-menu > li:last-child > a{
	padding-right: 0px !important;
}
header ul#menu-main-menu{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.uabb-creative-button-wrap a:focus,
.uabb-creative-button-wrap a:hover,
a.fl-button:hover, 
.fl-builder-content a.fl-button:hover{
	background: #330202 !important;
}
header ul#menu-main-menu:before,
header ul#menu-main-menu:after{
	display: none !important;
}
.header-phone .storename{
	margin-bottom: 0px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}
.page-id-894191 fieldset ul li.firstName,
.page-id-894191 fieldset ul li.lastName,
.page-id-894191 fieldset ul li.emailAddress,
.page-id-894191 fieldset ul li.phoneNumber,
.page-id-894191 fieldset ul li.checkbox,
.page-id-894191 fieldset ul li.radio {
    clear: none !important;
    float: left !important;
    width: 48% !important;
    padding: 0 10px !important;
}
.page-id-894191 span.checkbox-option,
.page-id-894191 span.radio-option {
    display: block !important;
}
#page-region .Wrapper__cls1___2LpwQ.Wrapper__media-desktop-up___1P3Wz {
    padding-right: 2%!important;
    padding-left: 2%!important;
}
.Wrapper__cls1___2LpwQ.Wrapper__media-tablet-up___1cMla {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.mobileOnly {
    display: none;
}
.desktopOnly {
    display: block;
}
.box-slider-featured-carpet .njba-logo-carousel-body .bx-wrapper .njba-logo-inner-wrap .njba-logo-image-responsive {
    max-width: 150px;
}
#homePage header.fixedHeader {
    position: fixed;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    background: #ffffff;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>.storename a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    color: #B3190F;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>ul {
    padding: 0px;
    color: #B3190F;
    display: inline-block;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a>i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.fl-page-nav .navbar-nav li>a {
    padding: 19px 15px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>.storename li .phone a span {
    color: #B3190F;
}

.fl-page-nav-right.fl-page-header-fixed,
.fl-page-header-fixed,
.fl-page-header {
    background: #ffffff;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
    top: 10px;
    right: 0;
}

.fl-slide-text>p {
    display: none !important;
}

.iscwp-gallery-slider .slick-dots li button,
.bx-wrapper .bx-pager.bx-default-pager a {
    border-color: #c7c7c7;
    background: #c7c7c7 !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
}

.iscwp-gallery-slider .slick-dots li.slick-active button,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #444 !important;
    border-color: #444;
}

.fl-node-5cd54cfc43bf0 .uabb-social-share-horizontal .uabb-social-share-link-wrap {
    margin-bottom: 0 !important;
}

#responsive-menu-wrapper {
    padding: 50px 20px !important;
}

div#responsive-menu-search-box {
    width: calc(100% - 60px)
}

div#responsive-menu-additional-content {
    float: right;
}

#responsive-menu-container .responsive-menu-search-box {
    border: 0 !important;
    border-bottom: 1px #898989 solid !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link,
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content,
#responsive-menu-container #responsive-menu-title {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item>.responsive-menu-item-link {
    text-transform: uppercase;
    color: #dadada;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.5 !important;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    font-size: 13px;
    display: inline-block;
    width: auto;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    line-height: .5 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    position: static;
    height: 40px !important;
    right: -15px !important;
    line-height: 28px !important;
    flex: 1;
    padding: 0 15px;
    text-align: left;
    background: transparent !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
    line-height: 36px !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas {
    color: #dadada;
    font-size: 16px;
    vertical-align: middle;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas:before {
    vertical-align: -webkit-baseline-middle;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
    text-transform: uppercase;
    font-weight: 400;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.3 !important;
}

#responsive-menu-container #responsive-menu {
    margin-top: 20px;
}

.toggleNavSlide .responsive-menu-inner {
    transform: rotate(45deg);
    background: #DEDEDE !important;
}

.toggleNavSlide .responsive-menu-inner::before {
    top: 0;
    opacity: 0;
}

.toggleNavSlide .responsive-menu-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    background: #DEDEDE !important;
}

.iscwp-gallery-grid.iscwp-image-fit .iscwp-col-5 .iscwp-img-wrp,
.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: 320px;
}

.button-wrapper a.button.alt {
    border-color: #B3190F;
    background: #B3190F;
}
.img-width-100 .uabb-imgicon-wrap .uabb-image-content > img{
	width: 100%;
    max-height: 216px;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    color: #ffffff;
    background: #B3190F;
    border-color: #B3190F;
}

.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button {
    background: #B3190F!important;
    color: #fff;
    border: 0px!important;
}

.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button:hover,
.product-detail-layout-4 .button-wrapper .button:hover,
.product-detail-layout-default .button-wrapper .button:hover,
.product-detail-layout-5 .button-wrapper .button:hover{
    line-height: none!important;
    background: #414042!important;
}

.button-wrapper a:not(.button) {
    text-align: left;
    width: 100%;
    font-weight: 400;
    color: #414042;
}

.pop-up-btn .fl-html {
    text-align: center;
}



.product-variations .color_variations_slider {
    max-width: 1280px;
	width: 100%;
    margin: 0 auto;
}

.product-variations>h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-variations .color-boxs-inners {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.product-box.pdp2-leftbox .row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.product-box h1 {
    font-weight: 500;
    font-size: 34px;
}

.product-box.pdp2-leftbox .row .product-colors {
    margin-right: 30px;
    border-right: 1px solid #B3190F;
    flex: 1;
    padding-right: 40px;
}

.product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 15px;
}

.product-box.pdp2-leftbox h2 {
    display: none;
}


/* input AM & PM */

.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;
    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.defaultActive.nav-item .nav-link>.fa {
    color: #B3190F !important;
}

.facet_filters strong {
    color: #B3190F;
}

.fl-fixed-header.admin-bar .fl-page-bar {
    border-bottom: 0;
}

.fl-page-bar .message {
    text-transform: uppercase;
    font-size: 16px;
}

#insta-gallery-feed-1 .insta-gallery-actions,
#insta-gallery-feed-1 .qligg-icon-prev,
#insta-gallery-feed-1 .qligg-icon-next {
    display: none;
}

#insta-gallery-feed-1 .insta-gallery-list {
    margin-bottom: 50px;
}
footer a:hover,
footer a:hover span,
footer a:hover p, footer a:hover i:before{
    color: #b3190f!important;
}
.button-wrapper a.button.alt {
    border: 1px solid #b3190f !important;
}



.moove-gdpr-button-holder>button.mgbutton {
    background-color: #fff!important;
    color: #333!important;
    border-radius: 0px!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
    font-size: 12px!important;
    
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #330202!important;
    color: #fff!important;
    border-radius: 0px!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    border-color: #333!important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #b3190f;
    border-top: 1px solid #fff;
    color: #f7a70e!important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,button.moove-gdpr-infobar-close-btn:hover i {
    color: #333!important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #333;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #b3190f;
    border: 1px solid #333;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #333;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #333 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #b3190f!important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat", sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
          font-size: 12px;
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #330202!important;
    color: #fff!important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #b3190f!important;
  }
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #B3190F!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #330202 !important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width: 1199px) {
    .uamodal-5e9d47700c123 .uabb-content {
        width: 1100px!important;
    }
    .uamodal-5e9d5f77c29aa .uabb-content {
        width: 1100px!important;
    }
}
@media(min-width:992px) and (max-width:1024px){
	h3.uabb-new-ib-title.uabb-simplify {
		font-size: 18px !important;
	}
	.img-width-100 .uabb-imgicon-wrap .uabb-image-content > img {
    width: 100%;
    max-height: 190px;
}
}
@media(max-width:1400px) { 
	header ul#menu-main-menu li > div > a, header ul#menu-main-menu li >  a {
		padding-left: 10px!important;
		padding-right: 10px!important;
	}
}
@media(max-width:1024px) {
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 5px;
    }
    .fl-node-5cd2a2a142cd0 .fl-button-wrap,
    .fl-node-5cd2a2a142cd1 .fl-button-wrap {
        text-align: left;
    }
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142cce,
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142ccf {
        width: auto !important;
        margin-right: 10px;
    }
	div.product-variations .slick-slider .slick-arrow {
		top: 26%!important;
	}
	a.arrow.slick-next.slick-arrow {
		right: 0px!important;
	}
	a.arrow.slick-prev.slick-arrow{
		left: 0 !important;
	}
	div#measurement-tool * {
    text-align: center;
}
}

@media(max-width:992px) {
	.img-width-100 .uabb-imgicon-wrap .uabb-image-content > img {
    width: 100%;
    max-height: 280px;
}
    .fl-page-nav-wrap {
        background-color: #fff;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        display: flex !important;
        justify-content: space-between;
    }
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 158px;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        max-width: 400px;
    }
    .cat-boxesHomepage .fl-col-group {
        display: flex;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content .fl-col-group {
        padding: 0 20px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 * {
        font-size: 32px !important;
        color: #414042 !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        font-size: 16px !important;
        color: #414042 !important;
    }
    .footerSocial .fl-icon-group-right {
        text-align: center;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: flex;
    }
    .gform_wrapper .gfield_checkbox li label,
    .gform_wrapper .gfield_radio li label {
        max-width: 100% !important;
    }
    .product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
        flex: 1;
    }
    .product-variations .slick-slider .slick-next {
        background: #ffffff;
        right: 0;
    }
    .product-variations .slick-slider .slick-prev {
        background: #ffffff;
        left: 0;
    }
	.product-insta-brand .uabb-image-carousel img {
		max-height: 300px !important;
		max-width: 300px !important;
		margin: 0 auto;
		object-fit: contain;
	}
}
@media(max-width:768px) {
	.post-965799 .uabb-image-carousel img{
		margin: 0 auto;
		width:auto !important;
	}
		div.product-variations .slick-slider .slick-arrow {
		top: 26%!important;
	}
	a.arrow.slick-next.slick-arrow {
		right: 0px!important;
	}
	a.arrow.slick-prev.slick-arrow{
		left: 0 !important;
		}
	footer .fl-module-heading .fl-heading,
	footer .fl-rich-text,
	footer .fl-menu a{
		text-align: left !important;
	}
	.max-width-issue img,
	.uabb-gallery-grid1 {
		max-width: 400px !important;
		margin: 0 auto !important;
	}
     /* Slider height issue on mobile open */

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
}

@media(max-width:767px) {
	h1 {
		font-size: 48px;
	}
    footer .fl-module-heading .fl-heading,
    footer .fl-menu a,
    footer .fl-rich-text{
		text-align: center !important;
	}
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-button-close {
        display: none;
    }
    .fixedHeader .fl-page-header-row.row {
        display: flex;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12 {
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 100% !important;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        position: static !important;
        width: auto !important;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 12px !important;
    }
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-nav-offcanvas-collapse.navbar-collapse {
        opacity: 1 !important;
        display: flex !important;
        justify-content: flex-end;
        overflow: visible !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        border-top: 0 !important;
    }
    #menu-top-bar-nav {
        display: flex;
    }
    #menu-top-bar-nav>li {
        border: 0;
    }
    .defaultActive.nav-item .nav-link {
        font-size: 0;
    }
    .defaultActive.nav-item .nav-link>.fa {
        font-size: 24px;
    }
    .mobileOnly {
        display: block;
    }
    .desktopOnly {
        display: none !important;
    }
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 0;
    }
    .cat-boxesHomepage .fl-col-group {
        display: block;
    }
    .cat-boxesHomepage .fl-photo-content {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 {
        text-align: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        text-align: left;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
        margin-right: 0;
        padding-bottom: 0 !important
    }
    .fixedHeader.fl-page-nav-right .fl-page-header-container {
        padding-bottom: 10px;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12.fl-page-header-logo-col {
        padding-right: 0;
        justify-content: flex-start;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-button .fl-button-text {
        font-size: 12px !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .homepageslide a.fl-button {
        padding: 10px 10px !important;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col {
        flex: 1;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col .fl-button-wrap {
        text-align: left;
    }
}

@media(max-width:480px) {
	
	.product-insta-brand .uabb-image-carousel img {
		max-height: 200px !important;
		max-width: 200px !important;
		margin: 0 auto;
		object-fit: contain;
	}
	
.uabb-modal-close .uabb-close-icon:before{
	color: #000!important;
}
    .calendly-inline-widget {
        min-width: 100%!important;
    }
	.product-box.pdp2-leftbox .row .product-colors{
		    margin-right: 0 !important;
		    padding-right: 0px !important;
	}
	div.gform_wrapper li.gf_left_half + li.gf_left_half {
		padding-right: 0px !important;
	}
    #responsive-menu-container {
        width: 75% !important;
        z-index: 99999 !important;
    }
    #calculateBtn {
        width: 280px !important;
    }
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a>i {
        font-size: 22px;
        margin-right: 0px;
    }
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>.storename,
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li:nth-child(2) {
        display: none!important;
    }
/* 	.uabb-photo-gallery-item {
		width: 100% !important;
	} */
	
	.fl-module-heading h1.fl-heading{
		margin: 0 20px!important;
	}
	.fl-module-heading ~ .fl-module-uabb-button  .fl-node-content{
		margin-left: 20px !important;
	}
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}
.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button{
	width: 90% !important;
}
.responsive-menu-box:hover {
    cursor: pointer!important;
}

#calculateBtn:hover {
    background: #B3190F !important;
    border: 1px solid #B3190F !important;
}
.fl-menu a{
	line-height: 1.3 !important;
}

@media(max-width:480px){
	header .fl-photo-content img{
		max-width: 65% !important;
	}
	button.rmp_menu_trigger{
		margin-top: -5px;
	}
	    h1 {
        font-size: 36px;
		line-height:40px;
    }
	    .fl-node-bknpwcxs4urh.fl-module-heading .fl-heading {
        font-size: 30px;
        text-align: center;
    }
}
@media(max-width:440px){
	button.rmp_menu_trigger{
		margin-top: -10px;
		margin-right: 20px;
	}
	div.fl-module-heading.fl-module h1.fl-heading{
		 font-size: 30px;
		line-height:35px;
	}
}
.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}
.uabb-module-content.uabb-creative-button-wrap a{
	border-radius: 0 !important;
}
.facetwp-selections ul:before {
    content: "YOUR SELECTION";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #630a0a;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #000;
    padding: 5px 5px 5px 0px;
}

.facetwp-selections ul{
    padding-bottom: 20px;
    padding-left: 0;
}
@media (max-width:820px){
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
	.facetwp-template .product-grid .product-row>.col-md-4 { width: 33.33%; float: left; clear: none!important;} 
	a#calculateBtn {margin: 0 auto; display: block; height: 80px; text-align:center;}
}
@media (max-width:768px){ 
    .fl-col-group.fl-col-group-responsive-reversed .fl-col { max-width: 100% !important; } 
    #products-tabs-wrapper .fl-col-content { min-height: auto;}
    #products-tabs-wrapper .fl-rich-text p {text-align: center !important;} 
    .fl-module.fl-module-rich-text.fl-node-5de93a3cef6ea p {text-align: center !important;}    
}
@media (max-width:600px){	
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
    .facetwp-template .product-grid .product-row>.col-md-4 { width: 100%; float: left; clear: none!important;}		
}
@media (max-width: 768px){	
	footer .fl-module-heading .fl-heading,
    footer .fl-rich-text,
    footer .fl-menu a { text-align: center !important;} 
}